body{
    display:flex;
    flex-direction: row;
    margin-left: 15vw;
    margin-right: 15vw;
    background-color: black;
}
html,body{
    
    height: 100%;
}
*{
    font-family: Arial !important;
}

.logo{
    display:flex;
    align-items: center;
    gap: 10px;
    height: 7vh;
    margin-left: 1vw;
}

.logo-title{
    font-size: 1.7rem;
    color: white;
    font-weight: bolder;
}

.navigation{
    width: 15vw;
    background-color: rgb(0, 153, 255);
    height:100vh;
    overflow-y: scroll;
}

.nav-option{
    display: flex;
    align-items: center;
    gap: 20px;
    transition-duration: 0.4s;
    background-color: rgb(0, 153, 255);
}

.nav-option:hover{
    background-color: black;
    cursor: pointer;
}

.nav-option-title{
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.top-nav-options, .bottom-nav-options{
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 5vh;
    /* padding-left: 1.5vw; */
}

.extra-space{
    width: 0.3vw;
}

.header{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 20vh;
    width: 55vw;
    box-shadow: 100px #000;
}
.top-header{
    margin: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-top-header{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1vw;
    margin-right: 2vw;
}

.header-profile-name{
    font-size: larger;
    font-weight: bolder
}

.left-top-header{
    display: flex;
    align-items: center;
    gap: 0.5vw;
    margin-left: 2vw;
}
.search-bar{
    width: 30vw;
    height: 3vh;
    border-radius: 20px;
    background-color: #e5e7eb;
    border: 0px solid;
}

.bottom-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}
.profile-grettings{
    margin-left: 1vw;
}

.welcome{
    display: flex;
    align-items: center;
}
.greeting{
    font-size: small;
    font-weight: bold;
}
.profile-name{
    font-size: large;
    font-weight: bolder;
    line-height: 0.2vh;
}
.buttons{
    display: flex;
    align-items: center;
    gap: 2vw;
}

.button{    
    border-radius: 30px;
    border: 0px solid;
    background-color: rgb(66, 177, 252);
    font-size: medium;
    font-weight: bold;
    color: white;
    padding: 1rem;
    width: 5vw;
    height: 5vh;
    cursor: pointer;
}

.content-main{
    width: 55vw;
    height: 80vh;
    background-color: #e5e7eb;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1vw;
    overflow-y: scroll;
}
.project-list{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
}

.projects, .extras{
    margin-top: 3vh;
    margin-left: 2vh;
}
.trendings{
    margin-top: 3vh;
}

.project-title, .announcements-title, .trendings-title{
    font-size: larger;
    font-weight: bold;
    margin-bottom: 2vh;
}

.project{
    background-color: white;
    border-left: 5px solid gold;
    padding: 2rem;
    width: 15vw;
    border-radius: 1rem;
}

.project .title{
    font-size: large;
    font-weight: bold;
    margin-bottom: 1vh;

}

.project .project-icons{
    display: flex;
    justify-content: flex-end;
    gap: 1vw;
    margin-top: 1vw;
    cursor: pointer;
}

.announcements-list{
    background-color: white;
    border-radius: 1.5rem;
    padding: 1.5rem;
    margin-right: 1.5rem;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr;
}


.announcement-title{
    font-size: small;
    font-weight: bold;
}

.announcement-text{
    font-size: small;
}

.announcement{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid lightgrey;
}

.trendings-list{
    background-color: white;
    border-radius: 1.5rem;
    padding: 1.5vh;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5vh;
    margin-right: 1.5rem;
}

.trending-user-info{
    display: flex;
    flex-direction: column;
    justify-content:center;

}
.trending-user-info p{
    margin: 0;
    padding: 0;
}

.trending-user-info .user-at{
    font-size: medium;
    font-weight: bold;
}

.trending-user-info .user-at:hover{
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}



.trending{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5vw;
}